{{ define "pagemain" }}
<!DOCTYPE html>

<html lang = 'ru'>

<head>
    <meta charset = 'UTF-8'>
    <meta name = 'viewport' content = 'width = device-width, initial-scale = 1.0'>

    <link rel = 'stylesheet' href = '/assets/styles/modern-normalize.min.css'>
    <link rel = 'stylesheet' href = '/assets/styles/style.css'>

    <title>FSP | Главная</title>
</head>

<body>
    {{ template "header" }}

    <main>
        <div class = 'image-block top-image'>
            <h1><span>Лесные пожары в России</span></h1>
        </div>

        <div class = 'block-header'><h2>Информация о проекте</h2></div>

        <div class = 'block'>
            <div class = 'block-text'>
                <p>Лесной пожар — это одна из самых опасных и страшных стихий. Каждый год от неконтролируемого огня погибает много животных и людей, также страдает почва и растения.</p>
                <p>Лесом покрыто почти две трети территории России. Общая площадь земель лесного фонда, по данным Рослесхоза, составляет 1 млрд 146 млн га. Ежегодно в России регистрируется от 9 тыс. до 35 тыс. лесных пожаров, охватывающих площади от 500 тыс. до 3,5 млн га. Согласно данным МЧС России и Рослесхоза, всего с начала 1992 года по конец 2018 года в России зарегистрировано порядка 635 тыс. лесных пожаров, то есть затронувших земли лесного фонда.</p>
                <p>Обращая внимание на статистику, можно заметить, что данная проблема остаётся актуальной до сих пор. Именно поэтому, в своей работе, нам хотелось бы рассмотреть её более детально. Для этого мы поставили перед собой ряд задач, решение которых было достигнуто за счёт создание нашего программного продукта:</p>
                <p>1. Визуализировать масштабы проблемы с помощью карт и диаграмм;</p>
                <p>2. Реализовать быструю обработку информации о состоянии пожаров на данный момент времени;</p>
                <p>3. Сократить время на поиск информации о текущем состоянии и кол-ве пожаров;</p>
                <p>4. Привлечь внимание людей к проблеме лесных пожаров.</p>
            </div>
        </div>

        {{ if . }}
        <div class = 'block-header'><h2>Перейти к графическому отчёту</h2></div>
        <div class = 'block'>
            <div class = 'block-links'>
            {{ range $name, $link := . }}
            <h1><a class = 'link' target = '_blank' href = '{{ $link }}'>{{ $name }}</a></h1>
            {{ end }}
            </div>
        </div>
        {{ end }}
    </main>

    {{ template "footer" }}
</body>

{{ safe "<!-- Blazingly fast -->" }}

</html>
{{ end }}

{{ define "pagereport" }}
<!DOCTYPE html>

<html lang = 'ru'>

<head>
    <meta charset = 'UTF-8'>
    <meta name = 'viewport' content = 'width = device-width, initial-scale = 1.0'>

    <link rel = 'stylesheet' href = '/assets/styles/modern-normalize.min.css'>
    <link rel = 'stylesheet' href = '/assets/styles/style.css'>

    <script src = '/assets/scripts/echarts.min.js'></script>
    <script src = '/assets/scripts/mapdata{{ if .OldMap }}.old{{ end }}.min.js'></script>
    <script src = '/assets/scripts/map.min.js'></script>
    <script src = '/assets/scripts/utils.js'></script>

    <title>{{ .Header }}</title>
</head>

<body>
    {{ template "header" }}

    <main>
        {{ if .ChartsPrimary }}
        <div class = 'image-block top-image'>
            <h1><span>Общие данные</span></h1>
        </div>
            {{ range $tabs := .ChartsPrimary }}
                {{ if $tabs }}
                    {{ template "tabs" $tabs }}
                {{ end }}
            {{ end }}
        {{ end }}

        {{ if .ChartsSecondary }}
        <div class = 'image-block middle-image'>
            <h1><span>Уточнение данных</span></h1>
        </div>
            {{ range $tabs := .ChartsSecondary }}
                {{ if $tabs }}
                    {{ template "tabs" $tabs }}
                {{ end }}
            {{ end }}
        {{ end }}
    </main>

    {{ template "footer" }}
</body>

{{ safe "<!-- Welcome to the cursed world we created by ourselves -->" }}

</html>
{{ end }}

{{ define "header" }}
<header>
    <img src = '/assets/images/manul.png' alt = 'Манул' class = 'logo'>
    <h1>Fire Statistics Project</h1>
</header>
{{ end }}

{{ define "footer" }}
<footer>
    <div>Copyright (c) 2022 Киберманулы</div>
    <div></div>
    <div>Александр 'JFAexe' Кониченко | Александр Минеев | Охапочкина Юлия | Гаранин Артём</div>
</footer>
{{ end }}

{{ define "tabs" }} {{ $snippets := .Snippets }}
{{ if (getkeysHTML $snippets) }}
{{ if .Header }}<div class = 'block-header'><h2>{{ .Header }}</h2></div>{{ end }}
<div class = 'tabs-block' id = '{{ .Id }}'>
    {{ $c1 := 0 }} {{ $c2 := 0 }}
    <ul class = 'tabs'>
    {{ range $id, $key := (getkeysHTML $snippets) }}
        <li {{ if eq $c1 0 }}class = 'active'{{ end }}><a href = ''>{{ $key }}</a></li>
        {{ $c1 = inc $c1 }}
    {{ end }}
    </ul>
    <div class = 'tabs-content'>
        {{ range $id, $key := (getkeysHTML $snippets) }}
        {{ $snippet := (getbykeyHTML $snippets $key) }}
        <div class = 'tabs-panel {{ if eq $c2 0 }}active{{ end }}' data-index = '{{ $c2 }}'>
            {{ $snippet }}
        </div>
        {{ $c2 = inc $c2 }}
        {{ end }}
    </div>
</div>
<script>ProcessTabs('{{ .Id }}')</script>
{{ end }}
{{ end }}