{{ define "pagemain" }}
<!DOCTYPE html>

<html lang = 'ru'>

<head>
    <meta charset = 'UTF-8'>
    <meta name = 'viewport' content = 'width = device-width, initial-scale = 1.0'>

    <link rel = 'stylesheet' href = '/assets/styles/modern-normalize.min.css'>
    <link rel = 'stylesheet' href = '/assets/styles/style.css'>

    <script src = '/assets/scripts/utils.js'></script>

    <title>FSP | Главная</title>
</head>

<body>
    {{ template "header" }}

    <main>
        <div class = 'image-block top-image'>
            <h1><span>Лесные пожары в России</span></h1>
        </div>

        <div class = 'block-header'><h2>Информация о проекте</h2></div>

        <div class = 'block'>
            <div class = 'block-text'>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi earum numquam reprehenderit. Iste labore aut cumque quo. Eaque suscipit sint ducimus placeat natus, nam asperiores ipsum, aut eos eius earum illum aliquid enim hic error exercitationem perspiciatis quae magnam a assumenda neque perferendis doloribus aperiam. Suscipit quam minus voluptatibus, tenetur, quod mollitia est distinctio porro blanditiis reiciendis atque aspernatur placeat?</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam veniam fuga animi quos possimus est consequuntur dicta esse officiis, ipsum dolorum natus vel repudiandae perspiciatis aspernatur ab magni minus aliquam quidem quod a inventore? Voluptatibus officiis quidem impedit facilis minima rem nobis dolore a at nihil architecto sit repellat voluptas recusandae molestias ipsum incidunt earum libero hic nemo, magnam deleniti.</p>
            </div>
        </div>

        {{ if . }}
        <div class = 'block-header'><h2>Перейти к отчёту</h2></div>
        <div class = 'block'>
            <div class = 'block-links'>
            {{ range $name, $link := . }}
            <h1><a class = 'link' target = '_blank' href = '{{ $link }}'>{{ $name }}</a></h1>
            {{ end }}
            </div>
        </div>
        {{ end }}
    </main>

    {{ template "footer" }}
</body>

</html>
{{ end }}

{{ define "pagereport" }}
<!DOCTYPE html>

<html lang = 'ru'>

<head>
    <meta charset = 'UTF-8'>
    <meta name = 'viewport' content = 'width = device-width, initial-scale = 1.0'>

    <link rel = 'stylesheet' href = '/assets/styles/modern-normalize.min.css'>
    <link rel = 'stylesheet' href = '/assets/styles/style.css'>

    <script src = '/assets/scripts/echarts.min.js'></script>
    <script src = '/assets/scripts/mapdata{{ if .OldMap }}.old{{ end }}.min.js'></script>
    <script src = '/assets/scripts/map.min.js'></script>
    <script src = '/assets/scripts/utils.js'></script>

    <title>{{ .Header }}</title>
</head>

<body>
    {{ template "header" }}

    <main>
        {{ if .ChartsPrimary }}
        <div class = 'image-block top-image'>
            <h1><span>Общие данные</span></h1>
        </div>
            {{ range $tabs := .ChartsPrimary }}
                {{ if $tabs }}
                    {{ template "tabs" $tabs }}
                {{ end }}
            {{ end }}
        {{ end }}

        {{ if .ChartsSecondary }}
        <div class = 'image-block middle-image'>
            <h1><span>Уточнение данных</span></h1>
        </div>
            {{ range $tabs := .ChartsSecondary }}
                {{ if $tabs }}
                    {{ template "tabs" $tabs }}
                {{ end }}
            {{ end }}
        {{ end }}
    </main>

    {{ template "footer" }}
</body>

{{ safe "<!-- Welcome to the cursed world we created by ourselves -->" }}

</html>
{{ end }}

{{ define "header" }}
<header>
    <img src = '/assets/images/manul.png' alt = 'Манул' class = 'logo'>
    <h1>Fire Statistics Project</h1>
</header>
{{ end }}

{{ define "footer" }}
<footer>
    <h3><a class = 'link' target = '_blank' href = 'https://tinyurl.com/y56j4nzr'>Sources</a></h3>
</footer>
{{ end }}

{{ define "tabs" }} {{ $snippets := .Snippets }}
{{ if (getkeysHTML $snippets) }}
{{ if .Header }}<div class = 'block-header'><h2>{{ .Header }}</h2></div>{{ end }}
<div class = 'tabs-block' id = '{{ .Id }}'>
    {{ $c1 := 0 }} {{ $c2 := 0 }}
    <ul class = 'tabs'>
    {{ range $id, $key := (getkeysHTML $snippets) }}
        <li {{ if eq $c1 0 }}class = 'active'{{ end }}><a href = ''>{{ $key }}</a></li>
        {{ $c1 = inc $c1 }}
    {{ end }}
    </ul>
    <div class = 'tabs-content'>
        {{ range $id, $key := (getkeysHTML $snippets) }}
        {{ $snippet := (getbykeyHTML $snippets $key) }}
        <div class = 'tabs-panel {{ if eq $c2 0 }}active{{ end }}' data-index = '{{ $c2 }}'>
            {{ $snippet }}
        </div>
        {{ $c2 = inc $c2 }}
        {{ end }}
    </div>
</div>
<script>ProcessTabs('{{ .Id }}')</script>
{{ end }}
{{ end }}